## Table Extraction - Extract Tables from Websites

### Extract Tables from Wikipedia

In this notebook, we extract a list of tables relating to *The Simpsons* & *The Office& TV shows from their respective **Wikipedia** sites.

### The Simpsons

In [1]:
# Import pandas
import pandas as pd

In [2]:
# Import the tables using the read_html method
simpsons = pd.read_html("https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)")

**Question:** How many tables do we have?

In [3]:
len(simpsons)

23

In [4]:
# Display the first 10 tables
simpsons[0].head(10)

  Season Episodes               Originally aired                   \
  Season Episodes Episodes.1         First aired       Last aired
0      1       13         13   December 17, 1989     May 13, 1990
1      2       22         22    October 11, 1990    July 11, 1991
2      3       24         24  September 19, 1991  August 27, 1992
3      4       22         22  September 24, 1992     May 13, 1993
4      5       22         22  September 30, 1993     May 19, 1994
5      6       25         25   September 4, 1994     May 21, 1995
6      7       25         25  September 17, 1995     May 19, 1996
7      8       25         25    October 27, 1996     May 18, 1997
8      9       25         25  September 21, 1997     May 17, 1998
9     10       23         23     August 23, 1998     May 16, 1999

  Households / viewers    Rank Rating
  Households / viewers    Rank Rating
0     13.4m h.[n1][12]      30   14.5
1     12.2m h.[n1][n2]  38[13]    8.0
2     12.0m h.[n1][n3]  33[14]      —
3     12.1m h.[n1][15]      30   13.0
4     10.5m h.[n1][n4]  53[16]      —
5      9.0m h.[n1][17]  67[17]      —
6      8.0m h.[n1][18]  75[18]      —
7          8.6m h.[19]  53[19]      —
8          9.1m h.[20]      30    9.2
9          7.9m h.[21]  46[21]      —

### The Office (US version)

Let us now repeat this for *The Office* to show how easy it is to do!

In [5]:
# Import the tables using the read_html method
office = pd.read_html("https://en.wikipedia.org/wiki/List_of_The_Office_(American_TV_series)_episodes")

In [6]:
len(office)

27

Therefore, there are 27 tables.

The table indexed '1' records the details of the episodes in the first season:

In [7]:
office[1]

,No. overall,No. in season,Title,Directed by,Written by,Original air date [16],Prod. code [16],U.S. viewers (millions)
0,1,1,"""Pilot""",Ken Kwapis,Ricky Gervais & Stephen Merchant and Greg Daniels,"March 24, 2005",1001,11.20[17]
1,2,2,"""Diversity Day""",Ken Kwapis,B. J. Novak,"March 29, 2005",1002,6.00[18]
2,3,3,"""Health Care""",Ken Whittingham,Paul Lieberstein,"April 5, 2005",1006,5.80[19]
3,4,4,"""The Alliance""",Bryan Gordon,Michael Schur,"April 12, 2005",1004,5.40[20]
4,5,5,"""Basketball""",Greg Daniels,Greg Daniels,"April 19, 2005",1005,5.00[21]
5,6,6,"""Hot Girl""",Amy Heckerling,Mindy Kaling,"April 26, 2005",1003,4.80[17]

Finally, we can extract the information on the first episode as shown below:

In [8]:
office[1].iloc[0].to_frame()

                                                                         0
No. overall                                                              1
No. in season                                                            1
Title                                                              "Pilot"
Directed by                                                     Ken Kwapis
Written by               Ricky Gervais & Stephen Merchant and Greg Daniels
Original air date [16]                                      March 24, 2005
Prod. code [16]                                                       1001
U.S. viewers (millions)                                          11.20[17]